body {
      margin: 0;
      background: black;
      overflow: hidden;
    }
    canvas {
      display: block;
    }
  


canv {
  display: block;
}

.title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: hotpink;
  font-size: 48px;
  font-weight: bold;
  font-family: cursive;
  z-index: 10;
  text-align: center;
}
